<%- include('partials/header') %>
<div class="container mt-6 has-navbar-fixed-top " style="margin-left: 250px !important;">
  <div class="panel">
    <p class="panel-heading has-background-danger-45 has-text-white has-text-weight-light">
      Gestion des catégories</p>
  </div>
  <!-- Conteneur de la liste des catégories -->

  <div class="panel-block">
    <div class="box column is-two-thirds" style="height: 60vh; overflow-y: auto;">
      <ul>
        <% categories.forEach(category =>{ %>

        <li class="box has-background-light is-size-5 p-2 mb-2 reservation-item">
          <div class="is-flex is-justify-content-space-between is-align-items-center">
            <!-- Informations sur la catégorie -->
            <div class="is-flex is-align-items-center">
              <p class="has-text-weight-medium has-text-black mr-4">
                #<span class="has-text-danger-45"><%= category.category_id %></span>
              </p>
              <p class="mr-4 has-text-black">
                <span class="has-text-weight-medium has-text-danger-45"><%= category.name %></span>
              </p>

            </div>
            <% if (category.activities && category.activities.length > 0) { %>

            <ul>
              <span class="has-text-weight-medium has-text-danger-45">Activités de cette catégorie</span>
              <% category.activities.forEach(function(activity) { %>
              <li><%= activity.name %></li>
              <% }) %>
            </ul>
            <% } else { %>
            <p>Aucune activité associée</p>
            <% } %>
        </li>
        <% }) %>
      </ul>
    </div>
    <!-- Formulaire pour créer une nouvelle catégorie -->

    <form class="box" action="/admin/create-category" method="POST">
      <div class="field">
        <label class="label">Nom de la catégorie</label>
        <div class="control">
          <input class="input" type="text" name="name_category" placeholder="Entrez le nom de la catégorie" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-link">Créer Catégorie</button>
        </div>
      </div>
    </form>
  </div>




</div>
<%- include('partials/side-menu') %>